<app-card titulo="Primeiro componente" cor="#3D4D63">
	<app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando conhecimentos em templates" cor="#B2E7E8">
	<app-segundo-component></app-segundo-component>
</app-card>
<app-card titulo="Pipes" cor="#BFB9AA">
	<app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="" cor="#F2D096">
	<app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando Listas" cor="#ED8975">
	<app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componentes personalizados (Input)" cor="#FFE3DC">
	<app-component-personalizado nome="Thiago" sobrenome="Nascimento"></app-component-personalizado>
<app-component-personalizado nome="Miguel" sobrenome="Nascimento"></app-component-personalizado>
<app-component-personalizado nome="Gael" sobrenome="Nascimento"></app-component-personalizado>
</app-card>
<app-card titulo="Comparitlhando dados entre componentes" cor="#A2AD91">
	<app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Serviços" cor="#3A2D32">
	<app-exemplo-servico1></app-exemplo-servico1>
	<app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Ciclo de vida">
	<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>

